*{
    margin: 0;
    padding: 0;
}

.dv1{
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}
.para{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
}
span {
    font-weight: bold;
    color: brown;
}
span:hover{
    color: blue;
}
.row{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}
.column{
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.column img{
    width: 100%;
    height: 200px;
    border: 2px solid #222323;
    box-shadow: 3px 3px 3px 3px #a2a5a5;
}

.plotMap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 2px solid #ae0b0b;
    box-shadow: 5px 5px 5px 5px #ae0b0b;
    
}
.v1{
    width: 70%;
    height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #222323;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #d7d1d1;
    
}
.site-video1{
    background-color: antiquewhite;
    padding: 60px;
}
@media (max-width:760px) {

    .row{
        flex-direction: column;
    }
    .column{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .v1{
        width: 260px;
        height: 200px;
        border-radius: 5px;
        border: 5px solid #171616;
       }
    .site-video1{
        padding: 0px;
       }
}